/* feng-nav */

.feng-nav {
    width: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 301;
    bottom: 0;
    color: var(--color-subtle);
    border-right: 1px solid #CFCCCC;
    background-color: #fafafa;
}
.feng-nav .is-shown {
    visibility: visible;;

}

.feng-nav-header {
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
}

.feng-nav-title {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    letter-spacing: 3px;font-size: 16px;
    line-height: 20px;
}

.feng-nav-title strong {
    font-weight: 600;
    color: var(--color-strong);
}

.feng-nav-header-icon {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 1.5rem; /* magic */
    right: 1.75rem; /* magic */
}



.feng-nav-item {
    padding: .2em 0;
}

.feng-nav-icon {
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: .25rem;
}

.feng-nav-category {
    top: 70px;
    bottom: 0px;
    overflow-y: auto;
    padding-left: 20px;
    display: block;
    position: absolute;
    width: 100%;
}

.feng-nav-button {
    display: block;
    width: 100%;
    padding: .3rem;
    padding-left: 1.2rem; /* padding + icon + magic */
    line-height: 2;
    text-align: left;
    font: inherit;
    font-size: 13px;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: default;
    outline: none;
}
.feng-nav-button:hover,
.feng-nav-button:focus:not(.is-selected) {
    background-color: hsla(0,0%,0%,.1);
}
.feng-nav-button.is-selected {
    background-color: var(--color-accent);
}
.feng-nav-button.is-selected,
.feng-nav-button.is-selected em {
    color: #fff;
}
.feng-nav-button.is-selected:focus {
    opacity: .8;
}

.feng-nav-button em {
    font-style: normal;
    font-weight: 600;
    color: var(--color-strong);
    pointer-events: none; /* makes it invisible to clicks */
}

.feng-nav-footer {
    margin-top: 1rem;
    padding: 2rem;
    border-top: 1px solid var(--color-border);
    text-align: center;
}

.feng-nav-footer-icon {
    width: calc(770px / 6.5);
    height: calc(88px / 6.5);
}

.feng-nav-footer a {
    outline: none;
}

.feng-nav-footer-button {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: .75rem;
    line-height: 2;
    text-align: left;
    font: inherit;
    font-size: 13px;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: default;
    outline: none;
    text-align: center;
}
.feng-nav-footer-button:focus {
    color: var(--color-strong);
}

.feng-nav-footer-logo {
    color: hsl(0,0%,66%);
}
.feng-nav-footer-logo:focus {
    color: hsl(0,0%,33%);
}

/* Remove border on the logo */
.feng-nav-footer-logo.feng-nav-footer-logo {
    border-bottom: none;
}

.feng-nav-left-top{
    bottom: 43px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.feng-nav-left-bottom {
    background-color: #fafafa;
    border-top: 0;
    border-top: 1px solid #ccc;
    opacity: 1;
    filter: alpha(opacity=100);
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 12px;
    z-index: 999;
    height: auto;
    width: 100%;
}



.feng-right{
    position: fixed;
    left: 280px;
    top: 60px;
    z-index: 300;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
    right: 0;
    transition-property: top;
    transition-duration: .3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -moz-transition-property: top;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 0s;
    -webkit-transition-property: top;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-property: top;
    -o-transition-duration: .3s;
    -o-transition-timing-function: linear;
    -o-transition-delay: 0s;
}