.nav-change {
    margin-right: 30px;
}

.my-nav-child {
    font-size: 14px;
}

.my-nav-child dd{
    line-height: 36px;
}

.my-nav-child a{
    font-size: 16px;
}

.my-nav-side {
    color:var(--color-subtle);
    position: relative;
    display: inline-block;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;

}

.my-nav-side * {
    font-size: 14px;
}

.my-nav-side a{
    padding: 5px 25px 5px 10px;
    display: block;
    color: gray;
    text-decoration: none;
}

.my-nav-side li ul{
    padding-left: 1em;
}

.my-nav-side a span i{
    float:right;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: -1px;
    border: -1px;
}

.feng-body {
    position: absolute;
    top: 60px;
    bottom: 0px;
    width: 100%;
}



