.nav-change {
    margin-right: 30px; 
}

.my-nav-child a{
    font-size: 14px;
}

.my-nav-side {
    /*color: inherit !important;*/
    color:var(--color-subtle);
    /*padding:*/ 
        position: relative;
    display: inline-block;
    min-width: 100%;
    margin: 0;
    padding: 0;
    
}

.my-nav-side a{
    padding: 5px 25px 5px 10px;
display: block;
color: gray;
text-decoration: none;
}

.my-nav-side li ul{
    padding-left: 1em;
}

.my-nav-side a span i{
    float:right;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: -1px;
    border: -1px;
}




